<!--
Helper file to call calculateQuality.php for each water system. This file should be run on a schedule in order to keep data up to date
-->
<script src="./js/libraries/jquery-3.1.1.min.js"></script>
<script>
    var jsonModified;
    var results = [];
    var pair = [];
    $.getJSON("./js/quality.json", function(json) {
        jsonModified = json;
        console.log(jsonModified);
        replaceErrors();
    })
    function getPair(){
        $.getJSON("./map/updatedMap.geojson", function(json) {
            for(var i =0; i < json.features.length;i++)
            {
                for(var j = 0; j < results.length; j++)
                {
                    if(json.features[i].properties.tinSys == results[j])
                    {
                        pair.push([""+json.features[i].properties.tinSys,""+json.features[i].properties.pwsid])
                    }
                }
            }
            console.log(pair);
            results = [];
            nextViolation(0);
        });
    }

    function replaceErrors(){
        for(var i = 0; i < jsonModified.length; i++)
        {
            if(jsonModified[i].score == "Error")
                results.push(jsonModified[i].tinSys);
        }
        getPair();

    }
    /*This will get all the quality amounts for each */
    function nextViolation(i)
    {
        console.log("tinSys: "+pair[i][0]+" index is: "+i);
        var urlDest = "./php/calculateQuality.php?tinwsys=" + pair[i][0] + "&pwsid=" + pair[i][1];
        var jqxhr = $.ajax( {url: urlDest,
                             timeout:60000 })
        .done(function() {
            var out = jqxhr.responseText.split(',');
            if(out.indexOf("Warning") >=0)
            {
                nextViolation(i);
            }else
            {
                var result = jqxhr.responseText;
                var violation = {tinSys:pair[i][0], score:out};
                nextViolation(i+1);
                results.push(violation);
            }
        })
        .fail(function() {
            console.log("failed");
            nextViolation(i);
        });
    }

</script>

